.overviewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
.FavIconContainer {
  background-color: #e8e9eb;
  color: #1d293e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableCells {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* justify-content: space-between; */
  align-items: center;
}
.membersCard {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  padding: 30px;
}
.memberImage {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}
.deleteContainer {
  height: 34px;
  text-align: center;
  width: 34px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd6d6d;
  background-color: #f7f7f7;
  transition: all 0.3s ease-in-out 0s;
  font-size: 14px;
  position: relative;
}
.deleteContainer:hover {
  background-color: #fd6d6d;
  color: #f7f7f7;
}
.uploadBtn {
  background-color: #f7f7f7;
  padding: 20px 35px;
  border: solid 1px #ebebeb;
  border-radius: 4px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}
.upload__image-wrapper {
  position: relative;
}
.clearImage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ff5a5f;
  border: none;
  padding: 5px;
  position: absolute;
  top: -20px;
}
.addNetwork {
  background: #79b530;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out 0s;
  padding: 8px 20px;
  border-radius: 2px;
  width: 150px;
}

.headerInput{
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}

.headerInput input, .headerInput select{
  padding: 16px 0 16px 20px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.headerInput .lens{
  vertical-align: middle;
  padding-right: 20px;
}

.headerInput .lens:hover{
  color: #fd6d6d;
  cursor: pointer;
}

.sortInput{
  padding: 0 16px;
  margin-left: 25px;
}

.repeat-5{
  grid-template-columns: repeat(5, 1fr);
}

.del-btn{
  padding: 10px;
  background-color: #f7f7f7;
  color: #fd6d6d;
  border-radius: 10px;
  font-size: 23px;
  cursor: pointer;
  transition: .5s ease;
}

.del-btn:hover{
  background-color: #fd6d6d;
  color: #fff;
}

@media screen and (min-width: 280px) and (max-width: 786px) {
  .membersCard {
    padding: 10px;
  }
}
