.lightText {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}
.regularText {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.mediumText {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}
.semiBoldText {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.boldText {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.f10 {
  font-size: 0.625rem;
}
.f11 {
  font-size: 0.688rem;
}
.f12 {
  font-size: 0.75rem;
}
.f14 {
  font-size: 0.875rem;
}
.f16 {
  font-size: 1rem;
}
.f18 {
  font-size: 1.125rem;
}
.f20 {
  font-size: 1.25rem;
}
.f22 {
  font-size: 1.375rem;
}
.f24 {
  font-size: 1.5rem;
}
.f26 {
  font-size: 1.625rem;
}
.f28 {
  font-size: 1.75rem;
}
.f30 {
  font-size: 1.875rem;
}
.f32 {
  font-size: 2rem;
}

.f34 {
  font-size: 2.125rem;
}

.f36 {
  font-size: 2.25rem;
}

.f38 {
  font-size: 2.375rem;
}

.f40 {
  font-size: 2.5rem;
}

.f42 {
  font-size: 2.625rem;
}

.f44 {
  font-size: 2.75rem;
}

.f46 {
  font-size: 2.875rem;
}
.f48 {
  font-size: 3rem;
}
.f50 {
  font-size: 3.125rem;
}
.f52 {
  font-size: 3.25rem;
}
.f54 {
  font-size: 3.375rem;
}

.f55 {
  font-size: 3.438rem;
}
.f56 {
  font-size: 3.5rem;
}
.f58 {
  font-size: 3.625rem;
}
.f60 {
  font-size: 3.75rem;
}
.f62 {
  font-size: 3.875rem;
}

/* PADDING */

.flex {
  display: flex;
}
.justifyBetween {
  justify-content: space-between;
}
.justifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pl35 {
  padding-left: 35px;
}
.pl40 {
  padding-left: 40px;
}
.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pr35 {
  padding-right: 35px;
}
.pr40 {
  padding-right: 40px;
}

.pr50 {
  padding-right: 50px;
}

.pr60 {
  padding-right: 60px;
}

.pr70 {
  padding-right: 70px;
}

.pl50 {
  padding-left: 50px;
}

.pl60 {
  padding-left: 60px;
}
.pl70 {
  padding-left: 70px;
}

/* colors */
.redText {
  color: #ff5a5f;
}
.white {
  color: #fff;
}
.bgWhite {
  background-color: #fff;
}
.black {
  color: #000;
}
.headerColor {
  color: #484848;
}
.menuItemColor {
  color: #333333;
}
.sideNavInactive {
  color: #8a99b3;
}

.dashBg {
  background-color: #f7f7f7;
}
.cPointer{
  cursor: pointer;
}

.hAuto {
  height: auto;
}
.h100 {
  height: 100%;
}
.borderBt {
  border-bottom: 1px solid #ebebeb;
}
.textCenter {
  text-align: center;
}
.border {
  border: 1px solid #ebebeb;
}
hr {
  border: 0.5px solid #ebebeb;
}
.btRadius {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.arrowLeft,
.arrowRight {
  display: flex;
  background: #fff;
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: 150px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out 0s;
}
.arrowLeft:hover,
.arrowRight:hover {
  opacity: 10;
}
.arrowRight {
  right: 0;
}
.infoHeader {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  border-radius: 6px;
  width: auto;
}
.tableHeader {
  background-color: #24324a;
  padding: 20px;
  border-radius: 6px;
  /* width: 100%; */
  margin-bottom: 20px;
}

.arrowLeftP,
.arrowRightP {
  display: flex;
  background: #fff;
  height: 70px;
  width: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  z-index: 10;
  position: absolute;
  top: 150px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out 0s;
}
.arrowLeftP:hover,
.arrowRightP:hover {
  opacity: 10;
}
.arrowLeftP {
  left: 10px;
}
.arrowRightP {
  right: 10px;
}

@media screen and (min-width: 280px) and (max-width: 786px) {
  .flexResponsive {
    flex-direction: column;
  }
  .paddingResponsive {
    padding: 20px;
  }
  .flexStart {
    align-items: flex-start;
  }
}
