.agencyImage {
  width: 150px;
  height: 150px;
  transition: all 0.3s ease-in-out 0s;
}

.agencyImage:hover {
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 12%);
  cursor: pointer;
  border: 2px solid #ff5a5f;
  border-radius: 6px;
}

.agentsGridTemplate {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
}
