.submissionContainer {
    padding: 50px 50px;
}

.addListingGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.packagesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.checkBoxBorder {
    border: 1px solid #ebebeb;
    padding: 2px;
    border-radius: 4px;
    height: 15px;
    width: 15px;
    margin-right: 10px;

}

.fileDelBtn{
    height: 25px;
    width: 25px;
    border: none;
    background-color: #E51E5C;
    color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.fileUploadContainer{
    position: relative; 
    height: 120px; 
    width: 180px;
    display: inline-block;
    margin-right: 10px;
}

@media screen and (min-width: 280px) and (max-width: 786px) {
    .submissionContainer {
        padding: 20px;
    }
}