.contactContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 30px;
  gap: 30px;
  background-color: #202040;
  color: #fff;
}
.contactContainer ul,
.contactContainer p,
.subscribeContainer div {
  list-style: none;
  padding-top: 10px;
}
.contactContainer ul li {
  padding-bottom: 15px;
}

.quickLinksContainer,
.contactUsContainer,
.socialLinksContainer,
.subscribeContainer {
  justify-self: center;
}
.socialLinksContainer ul {
  display: flex;
  justify-content: space-between;
}
.searchInputContainer {
  display: flex;
  align-items: center;
}
.searchInputContainer button {
  background-color: #3e4c66;
  color: #8a99b3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  width: 40px;
}
.searchInputContainer input {
  background-color: #e8eef2;
  border: none;
  color: #777777;
  border-radius: 50px;
  padding: 5px 30px;
  height: 30px;
  margin-right: 10px;
}
