.navContainer {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);

  /* display: grid;
  grid-template-columns: repeat(auto-fit, 1fr); */
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 20px;
  height: 80px;
  position: relative;
  background-color: #fff;
}
/* .logoContainer {
  width: 450px;
} */
.navContainer ul {
  display: flex;
  align-items: center;
  list-style: none;
  /* width: 500px; */
  height: 80px;
}
.navContainer ul li {
  text-align: center;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider {
  /* border-left-width: 1px; */
  border: 0.5px solid #e8eef2;
  height: 25px;
}

a {
  text-decoration: none;
  color: #484848;
  transition: all 0.3s ease-in-out 0s;
}
a:hover {
  color: #ff5a5f;
}
.selected {
  color: #ff5a5f;
}

.navDropDownContentContainer {
  background-color: #fff;
  position: absolute;
  top: 80px;
  left: -40px;
  right: 0;
  padding: 20px;
  width: 600px;
  height: 270px;
  /* transition: all 0.3s ease-in-out; */
  border-radius: 6px;
  box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
  z-index: 10;
  display: none;
  transform-origin: 0 0;
  transition: all 0.2s ease-in-out 0s;
}

.agentDropDownContentContainer, .subDropdown {
  background-color: #fff;
  position: absolute;
  top: 80px;
  right: 0;
  right: 0;
  padding: 20px;
  width: 600px;
  /* transition: all 0.3s ease-in-out; */
  border-radius: 6px;
  box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
  z-index: 10;
  display: none;
  transform-origin: 0 0;
  transition: all 0.2s ease-in-out 0s;
}

.translateContainer, #google_translate_element{
  position: fixed;
  right: 0;
  background: #e8e8e8;
  z-index: 200;
  width: 50px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#google_translate_element{
  /* margin-right: 280px; */
  width: 220px;
  background: #e8e8e8;
  padding: 3px;
  border-radius: 10px;
}

.top80{
  top: 45px !important;
}


.agentDropDownContentContainer {
  /* left: -70px; */
  /* top: 40px; */
  width: 150px;
  overflow-x: hidden;
  animation: slideUpFade .2s;
}

.dropArrow {
  position: absolute;
  top: -20px;
  /* box-shadow: 0 3px 5px rgb(0 0 0 / 13%); */
  background-color: transparent;
  left: 15px;
}

.borderBottom {
  border-bottom: 0.5px solid #ebebeb;
}
#properties:hover .navDropDownContentContainer {
  display: block;
}

#forSale:hover .navDropDownContentContainer {
  display: block;
}

#forProjects:hover .navDropDownContentContainer {
  display: block;
}
.sideNavContainer {
  background-color: #24324a;
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0;
  z-index: 150;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  animation: slideInLeft .5s;
  /* justify-content: center; */
}
.sideNavContainer::-webkit-scrollbar{
  width: 8px;
}
.sideNavContainer ::-webkit-scrollbar-track{
  background: #24324A;
}
.sideNavContainer::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 12px;
}
.sideNavContainer ul {
  padding-top: 30px;
}
.sideNavContainer li {
  padding: 10px 0;
  list-style: none;
  width: 100%;
}
.sideNavContainer li a {
  display: flex;
  align-items: center;
  padding: 15px 34px;
  transition: all 0.3s ease-in-out 0s;
}
.sideNavContainer li span {
  margin-left: 16px;
}

.sideNavContainer li a:hover {
  color: #fff;
  background: #172133;
  border-left: 2px solid #ff5a5f;
}
.activeSideNavLink {
  color: #fff;
  background: #172133;
  border-left: 2px solid #ff5a5f;
  padding: 15px 34px;
}

#agentdropdown{
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 100%;
}

#agentdropdown, #authLinks {
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
  margin-left: 10px;
  height: 45px;
  /* width: 130px; */
}

.agent-avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
}

.userAgent{
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
}


#agentdropdown:hover .agentDropDownContentContainer {
  display: block;
}

#allProperties:hover .agentDropDownContentContainer{
  display: block;
}

.subDropdown{
  position: absolute;
  top: 100px;
  background: #fff;
  left: 80px;
  z-index: 20;
  width: 500px;
  display: block;
}

#saleSubDropDown{
  animation: slideUpFade100 .5s;
}

#rentSubDropDown{
  animation: slideUpFade150 .5s;
}

#projectSubDropDown{
  animation: slideUpFade190 .5s;
}

.menuBtn{
  position: fixed;
  top: 50%;
  right: 0;
  background-color: #FF5A5F;
  color: #fff;
  padding: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pale {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navStyle{
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.propNavWidth{
  width: 270px;
}

.submission{
  display: flex;
  justify-content: flex-end;
}

@keyframes slideUpFade {
  from{
    top: 90px;
    opacity: 0;
  }
  to{
    top: 80px;
    opacity: 1;
  }
}

@keyframes slideUpFade100 {
  from{
    top: 110px;
    opacity: 0;
  }
  to{
    top: 100px;
    opacity: 1;
  }
}

@keyframes slideUpFade150 {
  from{
    top: 160px;
    opacity: 0;
  }
  to{
    top: 150px;
    opacity: 1;
  }
}

@keyframes slideUpFade190 {
  from{
    top: 200px;
    opacity: 0;
  }
  to{
    top: 190px;
    opacity: 1;
  }
}

.navItemResponsive{
  display: none;
}

/* .mainContainer{
  margin-left: 300px;
} */

@media screen and (max-width: 1265px) {

  .propNavWidth{
    width: 250px;
  }
}

@media screen and (max-width: 1023px) {
  .navItems{
    display: none !important;
  }
  
  .navItemResponsive{
    display: inline-block;
  }

  .pale{
    grid-template-columns: 150px;
    justify-content: center;
  }

  #agentdropdown, #authLinks {
    border: none;
    justify-content: end;
    /* text-align: right; */
  }
}
